:root {
	--primary-color: #2b2c2c;
	--button-color: #424343;
	--operator-color: #ff9f0b;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
}

.calculator {
	width: 480px;
	max-width: 960px;
	height: auto;
	margin: 24px;
	padding: 32px;
	background-color: var(--primary-color);
	border-radius: 16px;
}

button {
	border-radius: 48px;
	font-size: 2.08rem;
	background-color: var(--button-color);
	color: white;
	border: none;
}

button:hover {
	background-color: lightgrey;
	cursor: pointer;
}

input {
	width: 448px;
	height: 80px;
	font-size: 3.2rem;
	text-align: right;
	border-radius: 8px;
	margin: 16px 8px;
	background-color: var(--button-color);
	padding: 8px 16px;
	color: white;
}

.operators {
	display: flex;
	flex-direction: column;
	width: auto;
}

.operators button {
	width: auto;
	height: auto;
	margin: 8px 0;
	background-color: var(--operator-color);
}

.numbers {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 400px;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	font-size: 3.2rem;
}

.btn {
	font-size: 3.2rem;
	padding: 16px 32px;
	margin: 8px;
}

.btn.highlighted {
	background-color: #0080ff; /* Replace with your highlight color */
}
