:root {
	--primary-color: #2b2c2c;
	--button-color: #424343;
	--operator-color: #ff9f0b;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	width: 300px;
	max-width: 600px;
	height: auto;
	margin: 15px;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 10px;
}

button {
	border-radius: 30px;
	font-size: 1.3rem;
	background-color: var(--button-color);
	color: white;
}

button:hover {
	background-color: lightgrey;
	cursor: pointer;
}

input {
	width: 280px;
	height: 50px;
	font-size: 2rem;
	text-align: right;
	border-radius: 5px;
	margin: 10px 5px;
	background-color: var(--button-color);
	padding: 5px 10px;
}

.operators {
	display: flex;
	flex-direction: column;
	width: auto;
}

.operators button {
	width: auto;
	height: auto;
	margin: 5px 0;
}

.numbers {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 250px;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	font-size: 2rem;
}

.btn {
	font-size: 2rem;
	padding: 10px 20px;
	margin: 5px;
}
